* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Open Sans, sans-serif;
  font-size: 14px;
}

.container {
  width: 100%;
}

.header {
  width: 100%;
  background-color: #02918c;
}

.top__header {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 2em;
  font-weight: 800;
  text-transform: uppercase;
  padding: 19px 0 24px 0;
}

.site__name {
  color: #cfc91d;
}

.site__name > span {
  color: #fff;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu_item {
  font-size: 0.857em;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 2.5em 0 0 3.57em;
}

.menu_item:hover {
  color: #cfc91d;
}

.intro {
  width: 100%;
  height: auto;
  background: url("../img/intro__bg.jpg") no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro--flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

.intro__fixed {
  margin-bottom: 79px;
}

.intro__text {
  color: #fff;
  text-align: center;
  line-height: 1,4;
  align-self: center;
  margin: 14em  auto;
  margin-bottom: 200px;
}

.intro__suptitle {
  font-size: 1.5em;
  font-weight: 300;
}

.intro__title {
  font-size: 3.5em;
  text-transform: uppercase;
  font-weight: 800;
}

.intro__subtitle {
  font-size: 0.875em;
  padding-bottom: 3.2em;
}

.intro__img {
  padding-bottom: 3.57em;
}

.btn {
  font-size: 1em;
  font-weight: 800;
  text-transform: uppercase;
  color: #0b1016;
  background-color: #cfc91d;
  padding: 1.5em 3.2em;
}

.about {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.about__text {
  margin: 0 auto;
  width: 875px;
  font-size: 16px;
  color: #7e8287;
  text-align: center;
  line-height: 41px;
  padding-bottom: 85px;
}

.about__text > p > span {
  font-size: 26px;
}

.about__item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 90px;
}

.about__item__col img {
  display: block;
  margin: 35px 0 27px 0;
}

.item {
  width: 25%;
  height: 250px;
  border-right: 1px solid #d9dbdb;
  text-align: center;
  color: #7e8287;
  padding: 30px 58px 20px 55px;
}

.item:last-child {
  border-right: none;
}

.item__title {
  font-size: 16px;
  font-weight: 800;
  line-height: 23px;
  padding: 25px 0 30px 0;
}

.item__text {
  font-size: 11px;
  line-height: 2.5;
}

.title__text {
  margin: 0 auto;
}

.title__text h3 {
  font-weight: 800;
  font-size: 46px;
  text-transform: uppercase;
  color: #02918c;
  text-align: center;
  padding-top: 98px;
}

.title__text p {
  font-family: Times New Roman;
  font-size: 16px;
  line-height: 2.5;
  color: #7e8287;
  text-align: center;
}

.service {
  margin: 73px 0 85px 90px;
}

.service__bg {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #f0f0e8;
}

.service__bg__left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service__bg__right {
  background: url("../img/service__bg.jpg") no-repeat;
  background-size: cover;
  width: 50%;
  height: auto;
}

.service__text {
  text-align: left;
  color: #7e8287;
  width: 475px;
}

.service__text p {
  font-size: 16px;
  line-height: 2.5;
  padding-bottom: 55px;
}

.service__title {
  font-weight: 800;
  font-size: 46px;
  text-transform: uppercase;
  color: #02918c;
}

.service__subtitle {
  font-size: 16px;
  padding-top: 20px;
}

.service__item {
  width: 170px;
  color: #909396;
  margin: 0 110px 45px 0;
}

.service__item > p {
  padding-top: 20px;
  font-size: 11px;
  line-height: 2.1;
}

.service__item__title {
  font-size: 16px;
  font-weight: 800;
  line-height: 23px;
  padding: 18px 0 23px 0;
}

.my__work__text {
  width: 685px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 2.5;
  padding: 15px 0;
}

.work {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin-top: 80px;
}

.work__item {
  width: 25%;
  height: 238px;
  position: relative;
  overflow: hidden;
}

.work__item > img {
  width: 100%;
  transition: all 1s linear;
}

.work__item > img:hover {
  transform: scale(1.4);
  z-index: 100;
  transition: all 1s linear;
}

.work__inner {
  width: 265px;
  position: absolute;
  top: 20px;
  left: 30px;
  background-color: #02918c;
  text-align: center;
  color: #fff;
  opacity: 0;
}

.work__inner:hover {
  opacity: 0.7;
  transition: all 1s linear;
}

.work__title {
  font-size: 16px;
  font-weight: 800;
  line-height: 1.5;
  padding: 30px 0 20px 0;
}

.work_text {
  font-size: 13px;
  line-height: 1.9;
  padding: 0 37px 52px 37px;
}

.form__block {
  width: 100%;
  background-color: #0b0b0b;
  margin-top: 65px;
}

.forms {
  width: 920px;
  text-align: center;
  margin: 0 auto;
  padding: 65px 0;
  color: #898989;
  text-transform: uppercase;
  font-size: 16px;
}

.forms > form {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}

.forms__item {
  width: 642px;
  border-top: 1px solid #898989;
  border-left: none;
  border-bottom: none;
  border-right: none;
  background-color: #0b0b0b;
  color: #898989;
  box-sizing: padding-box;
  padding: 10px;
  margin: 10px 0 10px 0;
}

.forms__item:focus {
  border: none;
  outline: 1px solid #898989;
}

.massage {
  width: 929px;
  height: 90px;
  border-top: 1px solid #898989;
  border-bottom: 1px solid #898989;
  border-left: none;
  border-right: none;
  background-color: #0b0b0b;
  color: #898989;
  box-sizing: padding-box;
  padding: 10px;
  margin: 10px 0 10px 0;
}

.massage:focus {
  border: none;
  outline: 1px solid #898989;
}

.btn__form {
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  color: #0b1016;
  background-color: #cfc91d;
  padding: 20px 65px;
  margin: 65px 0 70px 0;
}
