*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: Open Sans, sans-serif;
	font-size: 14px;
}
.container{
	width: 100%;
}

@import "header";
@import "about";
@import "services";
@import "work";
@import "contact-me";